@charset "UTF-8";

:root{
    --color-background00:#1A2535;
    --color-background01:#3b3b46;
    --color-background02: #4A3504;
    --color-background03: #6e6e6e;

    --color-simple00:#000f25;
    --color-simple01: #E8B86B;
    --color-simple02: #6fc2fa;
    --color-simple03:#82B4FF;

}

.dark{
    position: absolute;
    top: 0.04em;
    width: 19px;
    left: 0.1em;
    height: 18.5px;
    border-radius: 50%;
    background-color: rgb(212, 212, 212);  
    transition: all 0.9s ease-in-out;
    animation: rot 6s infinite ease-in-out;
    box-shadow: inset 0.3em 0.2em 0.3em rgba(0, 0, 0, 0.61);
}

.dark::after{
    content: "";
    background-color: #49494967;
    border: 1px solid #3b3b4625;
    box-shadow: 0.0em 0.06em 0.1em rgba(0, 0, 0, 0.493);
    width: 3px;
    height: 4px;
    bottom: 60%;
    right: 30%;
    border-radius: 50%;
    position: absolute;
    transition: all 0.5s ease-in-out;
}

.dark::before{
    content: "";
    background-color: #6e6e6e83;
    border: 1px solid #3b3b4636;
    box-shadow: 0.0em 0.06em 0.1em rgba(0, 0, 0, 0.493);
    width: 2px;
    height: 3px;
    top: 50%;
    left: 20%;
    border-radius: 50%;
    position: absolute;
    transition: all 0.4s ease-in-out;
}

.dark #icon00{
    display: block;
    opacity: 1;
    content: "";
    background-color: #3b3b4679;
    box-shadow: 0.0em 0.03em 0.1em rgba(0, 0, 0, 0.493);
    width: 3px;
    height: 4px;
    top: 50%;
    right: 10%;
    border-radius: 50%;
    position: absolute;
    transition: all 0.8s ease-in;
}

.dark #icon01{
    display: block;
    opacity: 1;
    content: "";
    background-color: #3b3b4663;
    width: 3px;
    height: 4px;
    top: 20%;
    right: 70%;
    border-radius: 50%;
    position: absolute;
    transition: all 0.8s ease-in;
}

.light #icon02{
    display: none;
    opacity: 0;
    transition: opacity 5s ease-in-out;
}

.light #icon03{
    display: none;
    opacity: 0;
    transition: opacity 5s ease-in-out;
}

.light{
    position: absolute;
    top: 0.45px;
    width: 18px;
    left: 40px;
    height: 19px;
    border-radius: 50%;
    background-color: #fff563;  
    animation: rot  7s infinite ease-in-out;
    transition: all 0.9s ease-in-out;
}

.light::before{
    content: "";
    background-color: #ffffffce;
    border: 1px solid #fceb00;
    box-shadow: 0.0em 0.1em 0.6em rgba(255, 255, 255, 0.945);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    transform: translate(20%, -50%);
    transition: all 0.4s ease-in;
    z-index: 1;
}

.light::after{
    content: "";
    background-color: #fdf397d0;
    border: 1px solid #f2f700;
    box-shadow: 0.0em 0.1em 0.6em rgba(255, 145, 0, 0.945);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    position: absolute;
    transform: translate(25%, 60%);
    transition: all 0.9s ease-in;
}

.light #icon00{
    display: none;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.light #icon01{
    display: none;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.light #icon02{
    display: block;
    opacity: 1;
    background-color: #f3f700;
    box-shadow: 0.0em 0.1em 0.3em rgba(255, 255, 255, 0.199);
    width: 14px;
    height: 14px;
    border-radius: 1px;
    position: absolute;
    top: 14%;
    left: 13%;
    transition: all 0.9s ease-in;
    animation: rotTw 7s infinite ease-in-out;  
}

.light #icon03{
    display: block;
    opacity: 1;
    background-color: #f3f700;
    box-shadow: 0.0em 0.1em 0.3em rgba(255, 255, 255, 0.144);
    width: 14px;
    height: 14px;
    border-radius: 1px;
    position: absolute;
    top: 14%;
    left: 13%;
    transition: all 0.9s ease-in;
    animation: rotTw 6s infinite ease-in; 
}

@keyframes rotTw {
    0% {
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotTw{
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

#design-layout{ /* conteiner do design bola */
    position: relative;
    z-index: 2;
}

#design-layout-ball{ /* circulo gigante */
    position: fixed;
    bottom: 0;
    left: 0;
    height: 167px;
    width: 167px; 
    border-radius: 0 0 100% 0;
    background-color: var(--color-simple01);
    rotate: -90deg;
    z-index: 1;
}

.animation-rot{  /* animação de girar os efeitos */
    animation: rot 5s infinite ease-in-out;
} 

@-webkit-keyframes rot{ /* animação de girar os efeitos */
    0% {
        transform: rotate(0)  scaleY(20px);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg)  scaleY(-10px);
    }
}

@keyframes rot { /* animação de girar os efeitos */
    0% {
        transform: rotate(0)  scaleY(20px);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg)  scaleY(-10px);
    }
}

.ball-effects{ /*  */
    position: fixed;
    background-color: var(--color-simple01);
    border-radius: 100%;
}

#small-ball-0{
    top: -35px;
    left: 73px;
    width: 96px;
    height: 98px;
}

#small-ball-1{
    top: -8px;
    left: 30px;
    width: 125px;
    height: 129px;
}

#small-ball-2{
    top: 8px;
    left: -20px;
    width: 149px;
    height: 146px;
}

#small-ball-3{
    top: 25px;
    left: -56px;
    width: 145px;
    height: 143px;
}


#design-icons-snake01{
    position: fixed;    
    left: 15vw;
    bottom: 50vh;
    z-index: -1;
}

#design-icons-snake02{
    position: fixed;    
    right: 25vw;
    bottom: 15vh;
    z-index: -1;
}

#design-icons-polygon00{
    position: fixed;
    right: 10vw;
    bottom: 3vh;
    z-index: -1;
}

#design-icons-polygon01{
    position: fixed;    
    right: 10vw;
    bottom: 40vh;
    z-index: -1;
}

#design-icons-polygon02{
    position: fixed;    
    right: 20vw;
    bottom: 60vh;
    z-index: -1;
}

#design-icons-polygon03{
    position: fixed;    
    left: 16vw;
    bottom: 20vh;
    z-index: -1;
}

#design-icons-circles00{
    position: fixed;
    right: 1.5vw;
    bottom: 15vh;
    z-index: -1;
}

#design-icons-circles01{
    position: fixed;    
    left: 1.5vw;
    bottom: 60vh;
    z-index: -1;
}

.skeleton{
    background-color: #555;
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0),
        rgba(77, 77, 77, 0.26),
        rgba(255, 255, 255, 0)
    );
    background-size: 50px 100%;
    background-repeat: no-repeat;
    background-position: left -40px top 0;
    border-radius: 5px;
    animation: load 1.5s ease-in-out infinite;
    transition: all 0.6s ease-in;
}

@-webkit-keyframes load{
    to {
        background-position: right -20px top 0;
    }
}

@keyframes load{
    to {
        background-position: right -20px top 0;
    }
} 

.skeletonTw{
    background-color: #555;
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0),
        rgba(77, 77, 77, 0.26),
        rgba(255, 255, 255, 0)
    );
    background-size: 50px 100%;
    background-repeat: no-repeat;
    background-position: left -40px top 0;
    border-radius: 5px;
    animation: loadtw 1.8s ease-in-out infinite;
    transition: all 0.5s ease-in;
}

@-webkit-keyframes loadtw{
    to {
        background-position: right -20px top 0;
    }
}

@keyframes loadtw{
    to {
        background-position: right -20px top 0;
    }
}   