@charset "UTF-8";

:root{
    --color-background00:#1A2535;
    --color-background01:#3b3b46;
    --color-background02: #4A3504;
    --color-background03: #6e6e6e;

    --color-simple00:#000f25;
    --color-simple01: #E8B86B;
    --color-simple02: #6fc2fa;
    --color-simple03:#82B4FF;

}

#design-layout{ /* conteiner do design bola */
    position: relative;
    z-index: 2;
}

#design-layout-ball{ /* circulo gigante */
    position: fixed;
    bottom: 0;
    left: 0;
    height: 170px;
    width: 170px; 
    border-radius: 0 0 100% 0;
    background-color: var(--color-simple01);
    rotate: -90deg;
    z-index: 1;

}

@keyframes rot { /* animação de girar os efeitos */
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.small-ball{ /* classe de rotação */
    animation: rot 3s infinite ease-in-out;
}

@keyframes move{
    0% {
        transform: translateX(0) translateY(0);
    }

    100% {
        transform: translateX(-40px) translateY(60px) ;
    }


}

.ball-effects{ /* bola escura (REFAZER)*/
    position: fixed;
    background-color: var(--color-background00);
    width: 95px;
    height: 83px;
    margin: 20px 0px;
    left: 0px;
    top: 146px;
    border-radius: 60px;
}

.animationRot{ /* REFAZER */
    position: fixed;
    background-color: var(--color-simple01);
    top: -30px;
    left: 30px;
    width: 135px;
    height: 120px;
    border-radius: 120%;
}

#design-icons-snake01{
    position: fixed;    
    left: 15vw;
    bottom: 50vh;
    z-index: 1;
}

#design-icons-snake02{
    position: fixed;    
    right: 25vw;
    bottom: 15vh;
    z-index: 1;
}

#design-icons-polygon00{
    position: fixed;
    right: 10vw;
    bottom: 3vh;
    z-index: 1;
}

#design-icons-polygon01{
    position: fixed;    
    right: 10vw;
    bottom: 40vh;
    z-index: 1;
}

#design-icons-polygon02{
    position: fixed;    
    right: 20vw;
    bottom: 60vh;
    z-index: 1;
}

#design-icons-polygon03{
    position: fixed;    
    left: 16vw;
    bottom: 20vh;
    z-index: 1;
}

#design-icons-circles00{
    position: fixed;
    right: 1.5vw;
    bottom: 15vh;
    z-index: 1;
}

#design-icons-circles01{
    position: fixed;    
    left: 1.5vw;
    bottom: 60vh;
    z-index: 1;
}

.skeleton{
    background-color: #555;
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0),
        rgba(77, 77, 77, 0.26),
        rgba(255, 255, 255, 0)
    );
    background-size: 50px 100%;
    background-repeat: no-repeat;
    background-position: left -40px top 0;
    border-radius: 5px;
    animation: load 1.5s ease-in-out infinite;
    transition: all 0.6s ease-in;
}

@-webkit-keyframes load{
    to {
        background-position: right -20px top 0;
    }
}

@keyframes load{
    to {
        background-position: right -20px top 0;
    }
}

.skeletonTw{
    background-color: #555;
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0),
        rgba(77, 77, 77, 0.26),
        rgba(255, 255, 255, 0)
    );
    background-size: 50px 100%;
    background-repeat: no-repeat;
    background-position: left -40px top 0;
    border-radius: 5px;
    animation: loadtw 1.8s ease-in-out infinite;
    transition: all 0.5s ease-in;
}

@-webkit-keyframes loadtw{
    to {
        background-position: right -20px top 0;
    }
}

@keyframes loadtw{
    to {
        background-position: right -20px top 0;
    }
}

