@charset "UTF-8";

:root{

    --color-background00: #1A2535;
    --color-background01: #3b3b46;
    --color-background02: #a0e4ff;
    --color-background03: #e7e7e7;

    --color-simple00 :#000f25;
    --color-simple01: #E8B86B;
    --color-simple02: #6fc2fa;
    --color-simple03: #002838;
    --color-simple04: #6EEEFA;

    --color-calc-background-orange: rgb(255, 103, 48);
    --color-calc-background: #6b6b6b80;

    --font-tall-sans: 'Dosis', sans-serif;
    --font-couri-light: 'Josefin Slab', serif;
    --font-fil-itali: 'Philosopher', sans-serif;
    --font-normal-sans: 'Quicksand', sans-serif;
    --font-sans-light: 'Ysabeau Infant', sans-serif;
    --font-number: 'Exo', sans-serif;
    --font-bolder: "Exo", sans-serif;;

}

*{
    margin: 0;
    padding: 0;
}

button{
    border: 0;
    outline: 0;
    background-color: transparent;
}

header#calculadora-header{
    position: sticky;
    top: 10px;
    width: calc(100% - 30px);
    max-width: 598px;
    left: 10px;
    height: 50px;
    margin: auto;
    margin-top: 10px;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s ease;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

header#calculadora-header > nav#toggle-theme{
    margin-top: 15px;
}

button#toHome{
    outline: none;
    border: none;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 10px;
    width: 48px;
    height: 48px;
    background-color: #000f2560;
}

.light button#toHome{
    background-color: #ffffff98;
}

button#toHome > img{
    width: 40px;
    height: 40px;
}

button#toHome:active{
    transform: scale(1.1);
    transition: all 0.2s ease;
}

main{
    width: calc(100% - 10px);
    max-width: 600px;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

div#campo-texto{

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

div#campo-texto > input{
    border: none;
    outline: none;
    background-color: transparent;
    text-align: right;
    color: white;
    font-family: var(--font-number);
    font-size: 2em;
}

.light div#campo-texto > input{
    color: #000;
}

main hr{
    width: 80%;
    border: none;
    background-color: #646464;
    height: 0.05em;
    margin-top: 30px;
}

aside#aside-calc{
    width: calc(100%);
    max-width: 570px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 5px;
}

button#teclas{
    width: 100%;
    height: 100%;
}

button#teclas > img{
    width: 40px;
}

button.simbols{

}

#teclas, #teclaX{
    font-size: 2em;
}

span#caractere{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 60px;
    width: 60px;
    background-color: #000;
    color:#fff;
    border-radius: 50%;
}

button.simbols > #caractere{
    color: var(--color-simple01);
}

.light button.simbols > #caractere{
    color: var(--color-simple02);
}

button.simbolX > #caractere{
    background-color: var(--color-simple01);
}

.light button.simbolX > #caractere{
    background-color: var(--color-simple02);
}

button#teclaX:active{
    transform: scale(0.95);
}

.op{
    margin-top: -3px;
}