@charset "UTF-8";

:root{

    --color-background00: #1A2535;
    --color-background01: #3b3b46;
    --color-background02: #a0e4ff;
    --color-background03: #e7e7e7;

    --color-simple00 :#000f25;
    --color-simple01: #E8B86B;
    --color-simple02: #6fc2fa;
    --color-simple03: #002838;
    --color-simple04: #6EEEFA;

    --color-calc-background-orange: rgb(255, 103, 48);
    --color-calc-background: #6b6b6b80;

    --font-tall-sans: 'Dosis', sans-serif;
    --font-couri-light: 'Josefin Slab', serif;
    --font-fil-itali: 'Philosopher', sans-serif;
    --font-normal-sans: 'Quicksand', sans-serif;
    --font-sans-light: 'Ysabeau Infant', sans-serif;
    --font-number: 'Exo', sans-serif;
    --font-bolder: "Exo", sans-serif;;

}

*{
    margin: 0;
    padding: 0;
}

header#calculadora-header{
    position: sticky;
    top: 10px;
    width: calc(100% - 16px);
    max-width: 600px;
    left: 10px;
    height: 50px;
    margin: auto;
    margin-top: 10px;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s ease;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

header#calculadora-header > nav#toggle-theme{
    margin-top: 15px;
}

button#toHome{
    outline: none;
    border: none;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 10px;
    width: 48px;
    height: 48px;
    padding: 4px;
    background-color: #000f2560;
}

.light button#toHome{
    background-color: #ffffff98;
}

button#toHome > img{
    width: 40px;
    height: 40px;
}

button#toHome:active{
    transform: scale(1.1);
    transition: all 0.2s ease;
}

#main-principal{
    width: calc(100% - 10px);
    max-width: 600px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
    margin-bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

div#campo-texto{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

div#campo-texto > input{
    border: none;
    outline: none;
    background-color: transparent;
    text-align: right;
    color: white;
    font-family: var(--font-number);
    font-size: 2.5em;
    padding-right: 10px;
}

.light div#campo-texto > input{
    color: #000;
}

.primeiro{
    color: white;
    animation: transit2 0.2s both ease;
}

@keyframes transit2 {
    0%{
        color: white;
        font-size: 1.9em;
        opacity: 0;
    }

    50%{
        opacity: 0.5;
    }

    100%{
        font-size: 2.5em;
        opacity: 1;
    }
}

.segundo{
    animation: transit 0.2s both ease;
    transition: padding 0.4s ease-in-out;
}

@keyframes transit {
    0%{
        color: gray;
    }

    100%{
        font-size: 1.9em;
        padding: 10px;
        color: gray;
    }
}

div#separar{
    height: 50px;
    width: 100%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

hr{
    width: 90%;
    border: none;
    background-color: #868686ad;
    height: 0.05em;
}

aside#aside-calc{
    width: calc(100% - 10px);
    max-width: 570px;
    max-height: 400px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 5px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

button#teclas{
    width: 100%;
    height: 100%;
    max-width: 60px;
}

button#teclas > img{
    width: 30px;
}

img{
    padding-right: 3px;
}

#teclas, #teclaX{
    font-size: 2.2em;
}

button:active > #caractere{
    background-color: #6464642c;
}

span#caractere{
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: var(--font-number);
    height: 60px;
    width: 60px;
    color:#fff;
    border-radius: 50%;
}

.light span#caractere{
    color: #000;
}

button.simbols > #caractere{
    color: var(--color-simple01);
}

.light button.simbols > #caractere{
    color: var(--color-simple02);
}

button.simbolX > #caractere{
    background-color: var(--color-simple01);
    color: #fff;
}

.light button.simbolX > #caractere{
    background-color: var(--color-simple02);
    color: #000;
}

button#teclaX:active{
    transform: scale(0.95);
}

.op{
    margin-top: -3px;
}