@charset "UTF-8";

:root{

    --color-background00: #1A2535;
    --color-background01: #3b3b46;
    --color-background02: #a0e4ff;
    --color-background03: #e7e7e7;

    --color-simple00 :#000f25;
    --color-simple01: #E8B86B;
    --color-simple02: #6fc2fa;
    --color-simple03: #002838;
    --color-simple04: #6EEEFA;

    --color-calc-background-orange: rgb(255, 103, 48);
    --color-calc-background: #6b6b6b80;

    --font-tall-sans: 'Dosis', sans-serif;
    --font-couri-light: 'Josefin Slab', serif;
    --font-fil-itali: 'Philosopher', sans-serif;
    --font-normal-sans: 'Quicksand', sans-serif;
    --font-sans-light: 'Ysabeau Infant', sans-serif;
    --font-number: 'Exo', sans-serif;
    --font-bolder: "Exo", sans-serif;;

}

*{
    margin: 0;
    padding: 0;
}

button{
    border: 0;
    outline: 0;
    background-color: transparent;
}

header#calculadora-header{
    position: sticky;
    top: 10px;
    width: calc(100% - 30px);
    max-width: 598px;
    left: 10px;
    height: 50px;
    margin: auto;
    margin-top: 10px;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s ease;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

header#calculadora-header > nav#toggle-theme{
    margin-top: 15px;
}

button#toHome{
    outline: none;
    border: none;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 10px;
    width: 48px;
    height: 48px;
    background-color: #000f2560;
}

.light button#toHome{
    background-color: #ffffff98;
}

button#toHome > img{
    width: 40px;
    height: 40px;
}

button#toHome:active{
    transform: scale(1.1);
    transition: all 0.2s ease;
}