@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Josefin+Slab:wght@100&family=Philosopher:wght@400;700&family=Quicksand:wght@500&family=Ysabeau+Infant:ital,wght@0,100;0,300;0,700;1,1;1,100;1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Exo:ital,wght@0,800;1,800&display=swap');

:root{

    --color-background00: #1A2535;
    --color-background01: #3b3b46;
    --color-background02: #a0e4ff;
    --color-background03: #e7e7e7;

    --color-simple00 :#000f25;
    --color-simple01: #E8B86B;
    --color-simple02: #6fc2fa;
    --color-simple03: #002838;
    --color-simple04: #6EEEFA;

    --color-light00: #82FFFB;
    --color-light01: #B1FA8C;
    --color-light02: #FADA8C;
    --color-checked: #6be875;

    --font-tall-sans: 'Dosis', sans-serif;
    --font-couri-light: 'Josefin Slab', serif;
    --font-fil-itali: 'Philosopher', sans-serif;
    --font-normal-sans: 'Quicksand', sans-serif;
    --font-sans-light: 'Ysabeau Infant', sans-serif;
    --font-number: 'Exo', sans-serif;
    --font-bolder: "Exo", sans-serif;;

}

a:active{
    color: var(--color-background00);
}

header#ferramentas-header{
    position: sticky;
    top: 10px;
    width: calc(100% - 16px);
    max-width: 600px;
    left: 10px;
    height: 50px;
    margin: auto;
    margin-top: 10px;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s ease;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

header#ferramentas-header > nav#toggle-theme{
    margin-top: 15px;
}

button#toHome{
    outline: none;
    border: none;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: -30px;
    width: 48px;
    height: 48px;
    padding: 4px;
    background-color: #000f2560;
}

.light button#toHome{
    background-color: #ffffff98;
}

button#toHome > img{
    width: 40px;
    height: 40px;
}

button#toHome:active{
    transform: scale(1.1);
    transition: all 0.2s ease;
}

article#article-ferramentas{
    position: relative;
    z-index: auto;
    margin-top: 20px;
    height: 600px; 
    background-color: var(--color-background03);
    border-radius: 15px;
}

.dark article#article-ferramentas{
    background-color: var(--color-background01);
    color: #fff;
}

section#section-fixed{
    position: absolute;
    height: 60px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    font-family: var(--font-fil-itali);
    font-size: 1.5em;

    background-color: var(--color-background01);
    padding: 20px 0px 0px 0px;
    margin-top: -1px;
    border-radius: 15px 15px 0px 0px;
    z-index: 4;
}

.light section#section-fixed{
    background-color: var(--color-background03);
}

#header-icon-x{
    position: absolute;
    left: -190px;
    bottom: 13px;
}

.path-main{
    fill: #6b6b6b;
}

.light .path-main{
    fill: var(--color-background03);
}

.path-effect{
    fill: #6be875;
}

.light .path-effect{
    fill: #e86b6b;
}

#header-icon-circleOne{
    position: absolute;
    right: 60px;
    bottom: 25px;
}

#header-icon-circleTwo{
    position: absolute;
    right: 80px;
    bottom: 25px;
}

#fixed-scroll-polygon{
    position: fixed;
    top: 50%;
}

hr{
    border: none;
    max-width: 20%;
    height: 0.05em;
    margin-top: -1px;
    background-color: var(--color-background00);
}

.dark hr{
    background-color: var(--color-background03);
}

section#section-scroll{
    background-color: #7e7e7ea9;
    border-radius: 15px;
    overflow-y: scroll;
    padding-top: 20px;
    height: 530px;
    z-index: 3;
}

article#article-ferramentas >  section#section-scroll::-webkit-scrollbar{
    display: none;
}

aside{
    position: relative;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    z-index: 2;
}

#cards{
    width: 80%;
    height: 130px;
    background-color: #3b3b46;
    color: #fff;

    margin: 0px 0px 15px 0px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
}

.light #cards{
    background-color: #dfedee;
    color: #000;
}