@charset "UTF-8";

header#ferramentas-header{
    position: sticky;
    top: 10px;
    width: calc(100% - 16px);
    max-width: 600px;
    left: 10px;
    height: 50px;
    margin: auto;
    margin-top: 10px;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s ease;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

header#ferramentas-header > nav#toggle-theme{
    margin-top: 15px;
}

button#toHome{
    outline: none;
    border: none;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: -30px;
    width: 48px;
    height: 48px;
    padding: 4px;
    background-color: #000f2560;
}

.light button#toHome{
    background-color: #ffffff98;
}

button#toHome > img{
    width: 40px;
    height: 40px;
}

button#toHome:active{
    transform: scale(1.1);
    transition: all 0.2s ease;
}

article#article-ferramentas{
    margin-top: 20px;
    height: 600px; 
    background-color: var(--color-background03);
    border-radius: 10px;
}

article#article-ferramentas >  section#section-fixed{
    position: absolute;
    width: calc(100% - 0px);
    max-width: 600px;
    text-align: center;

    background-color: ;
    padding: 10px 0px;
    border-radius: 10px 10px 0px 0px;
}

article#article-ferramentas >  section#section-scroll{
    overflow-y: scroll;
    padding-top: 50px;
    height: 500px;
}

article#article-ferramentas >  section#section-scroll::-webkit-scrollbar{
    display: none;
}

article#article-ferramentas >  aside{

    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

#cards{
    width: 80%;
    height: 130px;
    background-color: ;
    color: ;

    margin: 0px 0px 15px 0px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
}