@charset "UTF-8";

#design-icons-snake01{
    position: fixed;    
    left: 15vw;
    bottom: 50vh;
    z-index: 1;
}

#design-icons-snake02{
    position: fixed;    
    right: 25vw;
    bottom: 15vh;
    z-index: 1;
}

#design-icons-polygon00{
    position: fixed;
    right: 10vw;
    bottom: 3vh;
    z-index: 1;
}

#design-icons-polygon01{
    position: fixed;    
    right: 10vw;
    bottom: 40vh;
    z-index: 1;
}

#design-icons-polygon02{
    position: fixed;    
    right: 20vw;
    bottom: 60vh;
    z-index: 1;
}

#design-icons-polygon03{
    position: fixed;    
    left: 16vw;
    bottom: 20vh;
    z-index: 1;
}

#design-icons-circles00{
    position: fixed;
    right: 1.5vw;
    bottom: 15vh;
    z-index: 1;
}

#design-icons-circles01{
    position: fixed;    
    left: 1.5vw;
    bottom: 60vh;
    z-index: 1;
}
