@charset "UTF-8";

:root{
    --color-background00:#1A2535;
    --color-background01:#36332E;
    --color-background02: #4A3504;

    --color-simple00:#82B4FF;
    --color-simple01: #E8B86B;
    --color-simple02: #E9A60E;
}

body, html, h1, p{
    padding: 0;
    margin: 0;
}

header{
    text-align: center;
    width: calc(100% - 10px);
    height: 145px;
    background-color: #999;
    margin: auto;
    margin-top: 5px;
    max-width: 600px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

section#section-header{
    text-align: center;
    margin: 10px;
    max-width: 600px;
}

section > h1{
    font-size: 17px;
    font-weight: normal;
}

article#article-subcontainer{
    width: 100%;
    background-color: #ace;
    border-radius:10px 10px 0px 0px;
    height: 70%;
}

div#div-container-hora{
    width: 180px;
    height: 90px;
    margin: 40px 10px 5px 0px;
    border-radius: 10px;
    background-color: #555;
}

section#time{
    height: 30px;
    width: 50%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: #adadad;
}

section#date{
    background-color: #fff;
    height: 30%;
    width: 100%;
    border-radius:0px 0px 10px 10px;
    display: block;
}

main{
    height: 400px;
    width: calc(100% - 10px);
    background-color: #888;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 20px 0px;
    max-width: 600px;
}

section#section-main{

}

aside#aside-title{
    width: calc(100% - 10px);
    text-align: center;
    height: 40px;
    background-color: #fff;
    margin: auto;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

article#article-content{
    display: grid;
    gap: 10px;
    margin: 12px 0px;
}

div.cards-content{
    width: 40%;
    height: 60px;
    background-color: #555;
    border-radius: 15px;
}

aside#aside-weather{
    width: 40%;
    height: 150px;
    background-color: #555;
}

footer{
    text-align: center;
}