@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Josefin+Slab:wght@100&family=Philosopher:wght@400;700&family=Quicksand:wght@500&family=Ysabeau+Infant:ital,wght@0,100;0,300;0,700;1,1;1,100;1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;1,300&display=swap');


:root{
    --color-background00:#1A2535;
    --color-background01:#36332E;
    --color-background02: #4A3504;

    --color-simple00:#82B4FF;
    --color-simple01: #E8B86B;
    --color-simple02: #E9A60E;

    
    --font-tall-sans: 'Dosis', sans-serif;
    --font-couri-light: 'Josefin Slab', serif;
    --font-fil-itali: 'Philosopher', sans-serif;
    --font-normal-sans: 'Quicksand', sans-serif;
    --font-sans-light: 'Ysabeau Infant', sans-serif;
    --font-number: 'Exo', sans-serif;
}

body, html, h1, p{
    padding: 0;
    margin: 0;
}

header{
    width: calc(100% - 10px);
    max-width: 600px;
    height: 160px;

    background-color: #999;
    margin: auto;
    margin-top: 5px;
    padding-bottom: 15px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: center;
    text-align: center;
}

section#section-header{
    float: left;
    text-align: center;
    margin: 20px 10px 10px 15px;
    max-width: 600px;
}

section#section-header > h1{
    font-weight: normal;
    font-size: 1.9em;
    font-family: var(--font-sans-light); 

}

section#section-header > p{
    text-align: left;
    font-size: 1.6em;
    font-family: var(--font-fil-itali);
}

nav#nav-links-main{
    float: left;
    font-family: var(--font-fil-itali);
}

div#div-icon-share{
    background-color: white;
    padding: 7px 10px;
    border-radius: 15px;
    margin: 10px 5px;
}

nav#toggle-theme{
    float: right;
    width: 70px;
    height: 30px;
    top: 15px;
    right: 15px;

    background-color: #1A2535;
    border-radius: 30px;
    margin: 0px 0px;
}

div#toggle-icon{
    margin: 5px;
    border-radius: 10px;
    border: 1px solid white;
    padding: 9px;
}

#light{

}

#dark{

}

div#div-container-hora{
    float: right;
    width: 180px;
    height: 70px;
    margin: 0px 10px 15px 0px;
    border-radius: 10px;
    background-color: #555;
}

article#article-subcontainer{
    width: 100%;
    height: 100%;
    background-color: #ace;
    padding: 3px 0;
    border-radius:10px 10px 10px 10px;
}

section#time{
    height: 30px;
    width: 90%;
    height: 70%;
    margin: auto;
    padding: 7px;

    border-radius: 10px 10px 0px 0px;
    background-color: #adadad;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

span#hora{
    border: 1px solid white;
    border-radius: 7px;
    width: 77%;
    margin: auto;
    padding: 11px;

    font-size: 1.6em;
    font-weight: normal;
    font-family: var(--font-number);
}

span#hora > p{
    display: inline-block;
}

section#date{
    background-color: #fff;
    height: 40%;
    width: 100%;
    height: 30%;
    padding: 2px 0px;
    border-radius:0px 0px 10px 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 0.85em;
    font-family: var(--font-fil-itali);
}

main{
    height: 400px;
    width: calc(100% - 10px);
    background-color: #888;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 30px 0px;
    max-width: 600px;

    border-radius: 10px;
}

section#section-main{
    
}

aside#aside-title{
    width: calc(80% - 10px);
    text-align: center;
    height: 40px;
    background-color: #fff;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-fil-itali);
}

article#article-content{
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 1fr 1fr;
    justify-content: normal;
    align-items: center;
    gap: 20px; 
    justify-items: center;

    margin: 12px 0px;
    padding: 5px;
}

div.cards-content{
    max-width: 200px;
    width: 100%;
    height: 80px;
    background-color: #555;
    border-radius: 15px;
}

#item-1{
    grid-row: 1 / 2; 
    grid-column: 1 / 2;
}

#item-2{
    grid-row: 2 / 2;
    grid-column: 1 / 2; 
}

#item-3{
    grid-row: 3 / 3;
    grid-column: 1 / 2; 
}

#item-4{
    grid-row: 1 / 2;
    grid-column: 2 / 2; 
}

aside#aside-weather{
    grid-row: 2 / 3;
    grid-column: 2 / 2; 
    
    max-width: 200px;
    width: 100%;
    height: 200px;

    margin: 53px 0px -63px 0px;
    border-radius: 15px;
    background-color: #555;


}

footer{
    text-align: center;
}