@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Josefin+Slab:wght@100&family=Philosopher:wght@400;700&family=Quicksand:wght@500&family=Ysabeau+Infant:ital,wght@0,100;0,300;0,700;1,1;1,100;1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;1,300&display=swap');


:root{

    --color-background00:#1A2535;
    --color-background01:#3b3b46;
    --color-background02: #4A3504;
    --color-background03: #dfdfdf;

    --color-simple00:#000f25;
    --color-simple01: #E8B86B;
    --color-simple02: #71acd3;
    --color-simple03:#3e8bff;

    

    
    --font-tall-sans: 'Dosis', sans-serif;
    --font-couri-light: 'Josefin Slab', serif;
    --font-fil-itali: 'Philosopher', sans-serif;
    --font-normal-sans: 'Quicksand', sans-serif;
    --font-sans-light: 'Ysabeau Infant', sans-serif;
    --font-number: 'Exo', sans-serif;
}

body, html, h1, p{
    padding: 0;
    margin: 0;
    z-index: auto;
    cursor: default;
    user-select: none; /* propriedade para o usuário do celular ou tablet não selecionar os icones */
}

.light{
    background-color: #fff;
    color: #000;
}

.dark{
    background-color: var(--color-background00);
}

body{
    transition: background-color .7s;
}

header{
    width: calc(100% - 10px);
    max-width: 600px;
    height: 160px;

    max-width: 600px;
    background-color: var(--color-background01);
    margin: auto;
    margin-top: 5px;
    padding-bottom: 15px;
    border-radius: 7px;

    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.light header{
    background-color: var(--color-background03);
}

/* design header - divisão de onda 50% */

section#section-header{
    float: left;
    text-align: center;
    margin: 20px 10px 10px 15px;
    color: #fff;
}

.light #section-header{
    color: black;
}

section#section-header > h1{
    font-weight: normal;
    font-size: 1.9em;
    font-family: var(--font-sans-light); 
}

section#section-header > p{
    text-align: left;
    font-size: 1.6em;
    font-family: var(--font-fil-itali);
}

nav#nav-links-main{
    position: relative;
    float: left;
    font-family: var(--font-fil-itali);
    margin-left: -30px;
    z-index: 3;
}


div#div-icon-share{
    background-color: white;
    padding: 7px 0px;
    border-radius: 15px;
    margin: 10px 5px;
}

div#div-icon-share > span{
    /* para cumputador ->> cursor: pointer; */
    padding: 10px;
}

#div-icon-share:active{
    transform: scale(1.03);
}

menu#menu-share{
    position: fixed;

    height: auto;
    padding: 10px;
    width: 80%;
    max-width: 400px;
    height: 170px;
    backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.308);
    border-radius: 20px;
    color: white;
    transition: all 0.3s ease-in-out;   
}  

.light #menu-share{
    border-color: #c4c4c4;
}

.light #div-icon-share{
    background-color: var(--color-background01);
    color: white;
}

nav#content-share{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    padding-top: 10px;
}

.light #content-share{
    color: black;
}

nav#content-share > p{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    font-family: var(--font-normal-sans);

    margin: 0px 0px 10px 0px;
    cursor: default;
}

/* ICON Compartilhamento */
nav#content-share > i{
    font-family: var(--font-normal-sans);
    font-size: 0.9em;
    width: 75px;
    padding:6px;
    border-radius: 30px;
    margin-bottom: 30px;
}

i.toCopy{
    background-color: var(--color-simple01);
}

i:active{
    transform: scale(1.05);
}

i.copyed{
    background-color: var(--color-checked);
}

nav#content-share > a{
    display: block;
    text-decoration: none;
    margin-bottom: 15px;
    cursor: default;     /* para cumputador ->> cursor: pointer; */
}

nav#content-share > a:hover > img {
    background-color: var(--color-background03);
    border-radius: 7px;
    transition: background 0.2s ease-in-out;
}

hr#hr-menu{
    position: absolute;
    width: 70%;
    border: 0;
    height: 0.04em;
    top: 48%;

    border-radius: 10%;
    margin: auto;
    background-color: #6e6e6e83;
}

a.link-share{
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}


/* links para meu contato */
a.link-for-me{
    height: 100%;
    width: 30px;
    height: 30px;
    margin: 0px 3px 5px 3px;
}

nav#toggle-theme{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* para cumputador ->> cursor: pointer; */

    width: 70px;
    height: 30px;
    top: 15px;
    right: 0px;

    background-color: var(--color-background00);
    border-radius: 30px;
    margin-right: -100px;
}

.light #toggle-theme{
    background-color: #ffffff;
}

div#toggle-icon{
    position: relative;
    width: 60px;
    height: 20px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.418);
    box-shadow: 0.0em 0.05em 0.3em rgba(255, 255, 255, 0.473);
    z-index: 2;
}

.light #toggle-icon{
    border: none;
    background-color: #b0defd;
    box-shadow: 0.0em 0.05em 0.4em rgba(8, 86, 202, 0.247);
    transition: background .5s ease-in-out;
}

div#div-container-hora{
    display: relative;
    z-index: 1;
    float: right;
    width: 180px;
    height: 70px;
    margin: 0px 10px 15px 0px;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--color-simple00);
}

.light #div-container-hora{
    background-color: /* var(--color-background03) */ #64646465;
}

article#article-subcontainer{
    width: 100%;
    height: 100%;
    padding: 3px 0;
    border-radius: 10px 10px 10px 10px;
}

section#time{
    height: 30px;
    width: 90%;
    height: 70%;
    margin: auto;
    padding: 7px;

    border-radius: 10px 10px 0px 0px;
    color: #fff;
    text-shadow: 0.0em 0.25em 0.8em rgba(255, 255, 255, 0.849);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.light #time{
   background-color: #fff; 
}

span#hora{
    border: 1px solid rgb(129, 129, 129);
    border-radius: 7px;
    width: 85%;
    margin: auto;
    padding: 10px 17px 10px 5px;

    font-size: 1.6em;
    font-weight: normal;
    font-family: var(--font-number);
    z-index: 3;
}


.light #hora{
    text-shadow: none;
    color: #000;
}

span#hora > p{
    display: inline-block;
    margin-right: 10px;
}

#p-fixo{
    position: absolute;
}

section#date{
    background-color: var(--color-simple02);
    color: white;
    height: 40%;
    width: 100%;
    height: 30%;
    padding: 2px 0px;
    border-radius: 0px 0px 10px 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;

    font-size: 0.80em;
    font-family: var(--font-fil-itali);
}

.light #date{
    background-color: #ffd560;
    color: black;
}

main{
    position: relative;
    height: 400px;
    width: calc(100% - 10px);
    background-color: transparent;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 30px 0px;
    max-width: 600px;

    border-radius: 10px;
    z-index: 0;
}

section#section-main{
    z-index: 3;
}

aside#aside-title{
    position: relative;
    width: 100%;
    text-align: center;
    height: 50px;

    color: #fff;
    background-color: var(--color-background01);
    margin: auto;
    margin-bottom: 20px;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-fil-itali);
    z-index: 2;
}

.light #aside-title{
    background-color: var(--color-background03);
    color: black;
}

article#article-content{
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 1fr 1fr;
    justify-content: normal;
    align-items: center;
    gap: 15px; 
    justify-items: center;

    margin: 12px 0px;
    padding: 5px;
    z-index: 1;
}

div.cards-content{
    max-width: 270px;
    width: 100%;
    height: 80px;

    background-color: var(--color-background01);
    color: white;
    border-radius: 9px;
    z-index: 2;
    /* para computador ->> cursor: pointer;*/ 
    user-select: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.6s ease-in;
}

div.cards-content p{
    margin: 10px;
    font-family: var(--font-normal-sans);
    cursor: pointer; 
}

.light div.cards-content{
    background-color: var(--color-background03);
    color: black;
}

#item-1{
    grid-row: 1 / 2; 
    grid-column: 1 / 2;
}

#item-2{
    grid-row: 2 / 2;
    grid-column: 1 / 2; 
}

#item-3{
    grid-row: 3 / 3;
    grid-column: 1 / 2; 
}

#item-4{
    grid-row: 1 / 2;
    grid-column: 2 / 2; 
}

aside#aside-weather{
    grid-row: 2 / 3;
    grid-column: 2 / 2; 
    
    max-width: 270px;
    width: 100%;
    height: 200px;

    margin: 53px 0px -63px 0px;
    border-radius: 9px;
    background-color: var(--color-background01);
    z-index: 2;
/*  para computador => cursor: pointer;  */
    user-select: none;
}

.light #aside-weather{
    background-color: var(--color-background03);
}


footer{
    text-align: center;
    margin: 100px 0px;
}