*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #333333;
}

main{
    width: calc(100% - 10px);

    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div{
    margin: auto;
    width: calc(100% - 10px);
    max-width: 600px;

    font-size: 2em;

    height: 300px;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

input{
    background-color: transparent;
    outline: 0;
    border: 0;
    padding: 20px;
    font-size: 1.2em;
    width: 100%;
    text-align: right;
    font-family: var(--font-number);
}

#firstInput{
    color: white;
}

#secondInput{
    font-size: 0.9em;
    padding: 10px;
    color: gray;
}

aside{
    width: calc(100% - 10px);
    margin: auto;
    max-width: 600px;
    max-height: 400px;

    position: absolute;
    bottom: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    background-color: rgb(165, 165, 165);
    border-radius: 10px;
    padding: 6px 0px;
}

button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-size: 1.7em;
    margin: 3px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-number);
    background-color: transparent;
}

.numbers:active{
    transform: scale(1.1);
    background-color: #33333367;
}

.numbers{
    color: #472D2B;
}

.simbols{
    color: #ff1100;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.simbols:active{
    background-color: #ff7d7375;
}

.simbols > img{
    width: 35px;
    height: 35px;
}

.simbolX{
    color: #fff;
    background-color: #ff4d40;
    font-size: 2.2em;
}

.simbolX:active{
    background-color: #ff13029c;
}