@charset "UTF-8";


/*  menu */
#setas{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: left;
    cursor: pointer;
    position: fixed;
    top: 5vh;
    right: 10px;
    width: 40px;
    height: 38px;
    border-radius: 10px;
    padding-bottom: 8px;
    z-index: 1;
    background-color: rgba(250, 122, 250, 0.801);
    animation: remobig 0.6s both;
}

/* adicionando a animação de crescer o menu */
#setas.actived_02{
    animation: big 0.5s both;
}

@keyframes big {/* crescer o Menu */
    0%{
        width: 40px;
        height: 45px;
    }
    100%{
        width: 90px;
        height: 45px;
    }
}

@keyframes remobig {/* diminuir o menu */
    100%{
        width: 40px;
        height: 45px;
    }
    0%{
        width: 90px;
        height: 45px;
    }
}

div#menu02{
    position: absolute;
    top: 20px;
    right: 10px;
    width: 18px;
    height: 3px;
    border-radius: 2px;
    transform: rotate(-45deg);
    background-color: aliceblue;
    z-index: 1;
    transition: all 0.7s;
}

div#menu01{
    position: absolute;
    top: 31px;
    right: 10px;
    width: 18px;
    height: 3px;
    border-radius: 2px;
    transform: rotate(45deg);
    background-color: aliceblue;
    z-index: 1;
    transition: all 0.7s;
}

div#menu01.actived{
    top: 24px;
    width: 25px;
    animation: rotateTw ease-in-out;
    transition: all 0.7s;
    z-index: 1; /* animação da seta > x */
}

div#menu02.actived{
    top: 24px;
    width: 25px;
    animation: rotateOn ease-in-out;
    transition: all 0.7s; /* animação da seta > x */
}

@keyframes rotateOn {/* animação rotação */
    0%{
        transform: rotate(-45deg);
    }
    
    100%{
        transform: rotate(-50deg);
    }
}

@keyframes rotateTw { /*  animação rotação */
    0%{
        transform: rotate(45deg);
    }
    
    100%{
        transform: rotate(49deg);
    }
}

#img-home{/*  imagem home */
    display: none;
    right: 12px;

    width: 20px;
    margin: 10px 0px 0px 0px;
    transition: opacity 0.7s;
    opacity: 0;
}

#img-home.mostrar{/* transição de surgimento */
    margin-right: 50px;
    opacity: 1;
}

img#img-home, img#img-menu, img#img-off{
    width: 30px;
}